body {
  font-family: Helvetica;
}

h1,
h2,
h3 {
  font-weight: bold;
  }

.NewYork {
  background-image: url(../images/the-flatiron-building.png);
  text-align: center;
  color: white;
  }

.NewYork h1 {
font-size: 70px;
}

.Navigation {
    color: white;
    font-size: 18px;
}

.supporting {
  text-align: center;
}

.supporting h2 {
  font-size: 32px;
}

.supporting h3 {
font-size: 23px
}

.supporting p {
font-size: 14px
}

.NewYork h2 {
  font-size: 23px;
}

.Footer {
  color: white;
  background-color: dimgrey;
  font-size: 11px;
  text-align: left;
}
